
.main {
  width: 100%;
}

.header {
  display: grid;
  grid-template-columns: 44.5% 37.5% auto;
  font-style: normal;
  padding: 92px 50px;
  width: 100%;
  font-size: 18px;
  font-weight: 400;
}

.header__menu {
  display: flex;
  align-items: center;
  padding-bottom: 1.7px;
  padding-left: 2px;
}

.links-list {
  display: flex;
  text-underline-offset: 3px;
  padding: 3px 0 0 0;
  align-items: center;
}

.link_active {
  text-decoration: none;
}

.links-list-item {
  margin-right: 32px;
  list-style: circle;
}

.links-list-item:last-child {
  margin-right: 0;
}

.no-bullit {
  margin-right: 32px;
  list-style: none;
}

.no-bullit_footer {
  margin-right: 0;
  list-style: none;
}

.header-logo {
  box-sizing: border-box;
  width: 149px;
  height: 106px;
}

.address {
  display: flex;
  flex-direction: column;
  font-style: normal;
  text-underline-offset: 4px;
}

.header__address {
  gap: 3px;
  width: 240px;
  margin-top: 7px;
  padding-left: 1.5px;
}

.city {
  line-height: 24.3px;
}

.cover {
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 0;
  padding: 165px 0 50px;
}


.cover__title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  z-index: 3;
  font-family: Raleway, Arial, sans-serif;
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  line-height: 115%; /* 115px */
  text-transform: uppercase;
  color: #fff;
  width: 100%;
  padding-left: 50px;
  padding-right: 48px;
  gap: 20px;
}

.aligned-text {
  letter-spacing: 0.3em;
}

.aligned-text_center {
  text-align: center;
  line-height: 1;
}

.aligned-text_right {
  text-align: right;
  line-height: 1;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.no-letter-spacing {
  letter-spacing: 30px;
}

.cover__description {
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: 100%;
  height: 100%;
  color: #fff;
  text-align: center;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 127.273% */
  text-transform: uppercase;
  padding-bottom: 62px;
  padding-left: 36px;
  word-spacing: 18px;
}

button {
  width: 257px;
  height: 52px;
  border: 1px solid #fff;
  font-family: Raleway, Arial, sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  color: #fff;
  line-height: normal;
  text-transform: uppercase;
  background-color: transparent;
  background-repeat: no-repeat;
  cursor: pointer;
  outline: none;
}

.cover__content {
  margin-top: 134.5px;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 78px;
  position: relative;
  z-index: 5;
  color: #fff;
  padding-right: 50px;
}

.cover__content-text {
  color: #fff;
  text-align: center;
  font-family: Raleway, Arial, sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 127.273% */
  text-transform: uppercase;
  word-spacing: 18px;
}

.cover__content-button {
  color: #FFF;
  text-align: center;
  font-family: Raleway, Arial, sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.lots {
  max-width: 1440px;
  margin: 178px 50px;
}

.lots__heading {
  color: #000;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  margin-left: 40px;
  padding-top: 1px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: rgba(0, 0, 0, 0.6);
}

.lots__list {
  margin-top: 29px;
  margin-bottom: 25px;
  list-style: none;
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
  padding-bottom: 4px;
}

.bg {
  background-position: center center;
  background-size: cover;
  flex-grow: 1;
  width: 430px;
}

.film {
  background-image: url("../images/card-lot-01.jpg");
}

.book {
  background-image: url("../images/card-lot-02.jpg");
}

.picture {
  background-image: url("../images/card-lot-03.jpg");
}

.lots__list-card {
  position: relative;
  min-height: 450px;
  padding: 50px 40px;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  color: #ffffff;
  text-decoration: none;
}

.lots__list-card_title {
  z-index: 1;
  color: #fff;
  font-family: Raleway, Arial, sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 26.4px */
  text-decoration-line: underline;
  text-transform: uppercase;
}

.lots__list-card_text {
  z-index: 1;
  color: #fff;
  font-family: Raleway, Arial, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 24px */
}

.lots__look-more-link {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: underline;
  padding-left: 41px;
  
  text-underline-offset: 4px;
}

.about {
  padding: 0 50px;
  max-width: 1440px;
  display: grid;
  grid-template-columns: 430px 2fr;
  gap: 25px;
  position: relative;
  z-index: 0;
  max-width: 1440px;
}

.about__logo {
  display: flex;
  width: 240px;
  height: 240px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  background-color: #000;
  border-radius: 50%;
  margin-top: 4px;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__left {
  display: flex;
  justify-content: center;
}

.about__title {
  color: #000;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  padding-top: 105px;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-top: 102px;
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-style: normal;
  padding: 182px 50px 90px;
  color: #000;
  font-size: 18px;
  font-weight: 400;
  line-height: 24.3px;
}

.footer__address {
  display: flex;
  flex-direction: column;
  font-style: normal;
  text-underline-offset: 4px;
  padding-top: 1px;
}

.street {
  width: 240px;
}

.footer__menu > .links-list {
  flex-direction: column;
}

.footer__links-list {
  line-height: 20px;
}

.footer__social-list {
  display: flex;
  flex-direction: row;
  justify-content: end;
  list-style: none;
  gap: 48px;
}

.logo-size {
  height: 48px;
  width: 48px; 
}